<!DOCTYPE html>
<html lang="en">
<head>   
    <title></title>
</head>
<body>
    <header>
      <div class="nav-container">
        <div class="nav-subcontainer1 -ml-[6px] text-xs">
          <div class="nav-hamburgermenu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
              />
            </svg>
          </div>
          <ul>
            <li class="text-purple-500 text-center"><a href="#home">Home</a></li>
            <li class="aboutthetest pr-[6px]">
              <a href="#aboutthetest" class="peer"
                >ABOUT THE TESTS<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-down mr-4"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                  /></svg></a>
              <div class="aboutthetest-dropdown peer-hover:block">
                <ul>
                  <a href="#pagemarkup"><li>Page Markup and Formatting</li></a>
                  <a href="#clearingfloats"><li>Clearing fonts</li></a>
                  <a href="#pagewithcomments"><li>Page with comments</li></a>
                  <a href="#disabledcomments"><li>Page with comments disabled</li></a>
                  <a href="#loremipsum"><li style="border: 0.5px solid lightgray">Lorem Ipsum</li></a>
                </ul>
              </div>
            </li>
            <li class="pl-2"><a class="peer" href="#level1">level 1<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                  /></svg></a>
                <div class="level-dropdown">
                  <ul>
                    <a href="#level2"><li>Level 2</li></a>
                    <a href="#level3"><li style="border-bottom: 1px solid lightgray;">Level 3</li></a>
                  </ul>
                </div>
                </li>
            <li class="ml-3"><a href="#shop">Shop</a></li>
          </ul>
        </div>
        <div class="nav-subcontainer2">
          <input style="border: none;" type="text" id="categoryInput" data-search-input placeholder="Search" />
          <svg data-search-btn id="searchBtn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
            <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"/></svg>
        </div>
      </div>
    </header>
    <hr />
     <div id="Main-subheader" class="activello-subheader">
      <div>
      <a href="#home">
        <img
          src="https://colorlibhub.com/activello/wp-content/uploads/sites/57/2015/11/logo.png.webp"
          alt="ACTIVELLO logo"
        />
      </a>
      </div>
      <p>Just another colorlib.com site</p>
    </div>
</body>
</html>