@import "tailwindcss";

/*--------------------------------------------------------  I N D E X .H T M L  ------------------------------------------------------------------*/
/*---------HEADER TAG STYLING------------*/

header {
  @apply w-full box-border tracking-wider z-40;
  height: 72px;

  .nav-container {
    @apply max-h-[72px] mx-auto flex flex-row justify-between uppercase z-49 lg:w-4/5 xl:w-[1090px];

    .nav-subcontainer1 {
      @apply max-h-20 md:w-1/2 xl:w-[41%]  h-20 text-xs;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;

      .nav-hamburgermenu {
        @apply w-10 h-10 md:hidden mt-3 ml-5 rounded-lg;

        svg {
          @apply w-10 text-slate-600 h-10 hover:bg-purple-400!;
        }
      }

      ul {
        @apply flex flex-row max-md:hidden mt-7 text-center tracking-widest;

        li {
          @apply w-1/5 hover:text-purple-400! transition! duration-300! cursor-pointer!;

          svg {
            @apply float-right w-3;
          }

          .aboutthetest-dropdown {
            @apply w-3xs h-48 z-50 absolute box-border ml-3 hidden peer-hover:block hover:block;

            ul {
              @apply flex-col w-full text-xs font-thin text-slate-600 normal-case flex-wrap bg-white text-left;
              font-family: "Monsterrat", sans-serif;

              li {
                @apply w-full p-2 pl-4 hover:bg-purple-400 transform delay-75 duration-300 hover:text-white!;
                border: 0.5px solid lightgray;
                border-bottom: 0;
                border-collapse: collapse;
              }
            }
          }
          .level-dropdown {
            @apply w-3xs h-20 z-50 absolute box-border ml-2 hidden peer-hover:block hover:block;

            ul {
              @apply flex-col w-full  text-xs font-light text-slate-600 normal-case flex-wrap bg-white text-left;

              li {
                @apply w-full p-2 pl-4 hover:bg-purple-400 transform delay-75 duration-300 hover:text-white!;
                border: 0.5px solid lightgray;
                border-bottom: 0;
                border-collapse: collapse;
              }
            }
          }
        }
        .aboutthetest {
          width: 40%;
        }
      }
    }

    .nav-subcontainer2 {
      @apply max-h-20 w-1/4 justify-center flex flex-row  h-20 gap-3 max-md:w-1/3 max-md:mr-4 max-sm:w-3/5 max-sm:mr-5  md:max-lg:w-1/3;
      font-family: "Montserrat", sans-serif;

      input {
        @apply text-sm mt-[18px] rounded-md pl-2 focus:outline-1 outline-purple-400 placeholder-zinc-500 tracking-normal w-[202px] max-xl:w-[180px];
        height: 30px;
      }
      svg {
        @apply mt-[26px] cursor-pointer fill-gray-600 hover:fill-purple-600 transition delay-100 duration-300;
        width: 15px;
        height: 15px;
      }
    }
  }
}
hr {
  @apply text-purple-50! h-1!;
}

.activello-subheader {
  @apply w-full text-sm h-40 bg-white flex flex-col justify-center gap-4 z-40 mb-[2px];
  font-family: "Montserrat", sans-serif;
  div{
    @apply mx-auto w-2/12 max-lg:w-1/4 sm:max-md:w-2/5 max-sm:w-1/2;
    img {
    @apply mx-auto -mt-0.5;
  }
  }
  
  p {
    @apply mx-auto text-slate-600 font-normal -mt-0.5;
    letter-spacing: 1px;
  }
}

.sub-body {
  @apply w-3/5 flex mx-auto lg:max-xl:w-4/5 max-lg:flex-col max-lg:w-5/6;

  .subbody-content {
    @apply w-2/3 max-lg:w-full p-[6px];
  }
  .subbody-sidecontent {
    @apply w-1/3 p-3 box-border max-lg:w-full pr-5;

    h4 {
      font-family: "Montserrat", sans-serif;
      @apply xl:text-[16px] text-sm tracking-normal;
    }
    p {
      @apply tracking-wider;
    }
    hr {
      @apply mb-7;
    }

    .aboutme-card {
      @apply w-full mb-10;

      h4 {
        @apply font-light text-slate-700 mb-2;
      }
      hr {
        @apply text-purple-600 mb-5 bg-purple-500!;
        width: 12%;
      }
      img {
        @apply w-full mb-4;
      }
      p {
        @apply text-sm/6 text-gray-600 leading-7;
        letter-spacing: 0.06rem;
        font-family: "Lora", serif;
      }
    }

    .followme-card {
      @apply w-full mb-14;

      h4 {
        @apply font-light text-slate-700 mb-2;
      }
      hr {
        @apply text-purple-600 mb-[22px] h-0.5 bg-purple-600!;
        width: 12%;
      }
      ul { 
        @apply flex h-7 w-4/5 justify-evenly mx-auto pr-4;

        svg {
          @apply h-4 w-4 text-slate-500 hover:text-purple-400 transition delay-75 duration-200;
        }
      }
    }

    .recentposts-card {
      @apply mb-14;
      h4 {
        @apply font-light text-slate-700 mb-2;
      }
      hr {
        @apply text-purple-600 mb-6 h-0.5 bg-purple-600!;
        width: 12%;
      }
      div {
        @apply w-full h-20 border-dashed border-black mb-4;
        font-family: "lora", serif;

        img {
          @apply float-left w-20 h-[95%] mr-5;
        }
        p {
          @apply my-3 text-[16px];
        }
        small {
          @apply clear-none text-slate-600;
        }
      }
    }

    .secondary-search {
      @apply mx-auto w-full flex text-sm mb-12 mt-7;

      input {
        @apply w-2/3 h-8 pl-2 border-2 border-slate-200 focus:outline-1 focus:outline-purple-400 z-20;
      }
      button {
        @apply hover:bg-purple-400 hover:text-white bg-gray-100 w-1/3 h-8 text-slate-700 z-10;
      }
    }

    .categories-table {
      @apply mb-12;
      h4 {
        @apply font-light text-slate-700 mb-2;
      }
      hr {
        @apply text-purple-600 mb-5 h-0.5 bg-purple-500;
        width: 12%;
      }
      table {
        @apply w-11/12;
        td {
          @apply border-b-2 border-gray-200 h-10 text-sm text-slate-700;
          font-family: "lora", serif;
        }
      }
    }
    p {
      @apply text-sm text-slate-700 mb-12;
      font-family: "lora", serif;
    }
    h4 {
      @apply font-light text-slate-700 mb-2;
    }
    hr {
      @apply text-purple-600 mb-5 h-0.5 bg-purple-600!;
      width: 12%;
    }
  }
}

.smallcard-in-grid {
  @apply flex-col columns-2 max-sm:columns-1;

  div {
    img {
      @apply h-48;
    }
    h6 {
      @apply hidden;
    }
  }
}

/*---------FOOTER TAG STYLING------------ */
footer {
  @apply w-full bg-purple-100 h-[190px] flex flex-col gap-12 justify-center mt-9 box-border pt-10;

  .footer-container {
    @apply mx-auto h-7 w-[17%] max-lg:w-2/5;

    ul {
      @apply flex flex-6 justify-evenly mt-4;

      li {
        @apply h-6 w-6;

        svg {
          @apply h-4 w-4 text-slate-500 hover:text-purple-400 transition delay-75 duration-200;
        }
      }
    }
  }

  .footer-copyright {
    @apply mx-auto text-xs tracking-normal text-slate-500;
    font-family: "Montserrat", sans-serif;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------  largecard.html  ----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.subbody-largecard {
  @apply w-full flex-col columns-1 text-center p-3 box-border;
  font-family: "lora", serif;
  * {
    @apply my-4 tracking-wider mx-auto;
  }
  small {
    @apply text-slate-800 text-xs font-light;
    font-family: "Montserrat", sans-serif;
  }
  h4 {
    @apply italic text-2xl text-gray-700 -mt-2;
  }
  hr {
    @apply border-t-[2px] border-purple-600 mt-2;
    width: 5%;
  }
  h5 {
    @apply text-sm text-gray-600;
    font-family: "lora", serif;
  }
  img {
    @apply h-82 w-full bg-cover object-cover my-6 cursor-pointer hover:opacity-80 transition delay-200 duration-400;
  }
  p {
    @apply text-sm text-gray-600 text-left;
    line-height: 26px;
    font-family: "lora", serif;
    letter-spacing: 0.06rem;
  }
  h6 {
    @apply hover:text-purple-400 hover:cursor-pointer font-bold w-2/5 text-xs text-slate-600;
    font-family: "Montserrat", sans-serif;
  }
}

.cardsplit-hr {
  @apply border-t-[0.5px] border-gray-300 my-5;
}

.pagemarkup {
  * {
    @apply my-4;
  }
  small {
    @apply font-serif tracking-widest text-sm/loose;
  }
  p {
    @apply text-2xl;
  }
  table {
    @apply w-full text-sm/loose text-left font-serif;
    tr {
      @apply border-t-2 border-gray-200 h-7 hover:bg-purple-100;

      th,
      td {
        @apply pl-3;
      }
    }
  }
}

.reply {
  @apply w-full  tracking-widest space-y-5 my-10 p-5;

  .reply-container {
    @apply flex w-2/3 justify-between float-right;
    p {
      @apply text-sm font-bold;
    }
    button {
      @apply float-right bg-gray-200 w-20 h-7;
    }
  }
  .comment {
    @apply w-full h-60 pl-3 border-0 pt-3 outline-1 outline-gray-200 focus:outline-2 focus:outline-purple-400;
  }
  .userdata {
    @apply flex columns-3 w-full justify-evenly;
    input {
      @apply outline-1 pl-2 border-0 outline-gray-200 focus:outline-2 focus:outline-purple-400 h-7;
    }
  }

  button {
    @apply w-1/3 bg-gray-200 h-8 hover:bg-purple-400 hover:text-white text-sm/loose font-semibold;
  }
}

.searchHeading {
  @apply text-3xl text-gray-500 mb-14 mx-5 mt-10;
  font-family: "Montserrat", sans-serif;
}
