@import "tailwindcss";


/*---------HEADER TAG STYLING------------*/
header{
    @apply h-20 w-full box-border z-50 tracking-widest;

    .nav-container{
        @apply max-h-20 mx-auto flex flex-row justify-between uppercase z-49 lg:w-4/5 xl:w-2/3;
        font-family: "Monsterrat", sans-serif;
        font-size: 12px;

    
        .nav-subcontainer1{
            @apply max-h-20 md:w-1/2 lg:w-2/5  h-20 font-black ml-5 ;

            .nav-hamburgermenu{
            @apply w-10 h-10 md:hidden mt-5 mr-5 rounded-lg ;

            svg{
                @apply w-10 text-slate-600 h-10 hover:bg-purple-400;
            }
            }

            ul{
                @apply flex flex-row max-md:hidden mt-7 text-center;

                li{
                    @apply w-1/4 hover:text-purple-400 transition duration-300 cursor-pointer;

                    select{
                        @apply outline-none;
                    }
                }

            }
        }

        .nav-subcontainer2{
            @apply max-h-20 w-1/4 flex flex-row  h-20 gap-3 max-md:w-1/3 max-md:mr-4 max-sm:w-2/5 max-sm:mr-5  md:max-lg:w-1/3;

            input{
                @apply text-sm mt-5  h-8 rounded-md pl-2 focus:outline-1 outline-purple-400;
            }
            img{
                @apply h-4 w-4 mt-7 cursor-pointer;
            }
        }
    }
}
hr{
    @apply text-purple-50;
}

.activello-subheader{
    @apply w-full h-40 bg-white flex flex-col justify-center gap-4;
    font-family: "Montserrat", sans-serif;

    img{
        @apply mx-auto;
    }
    p{
        @apply mx-auto text-slate-600 font-light;
    }
}


.sub-body{
    @apply w-3/5 flex mx-auto lg:max-xl:w-4/5 max-lg:flex-col max-lg:w-5/6;

    .subbody-content{
        @apply border-2 border-dashed border-amber-300 w-2/3 max-lg:w-full;
    }
    .subbody-sidecontent{
        @apply border-2 border-dashed border-amber-300 w-1/3 p-3 box-border max-lg:w-full;
        

        .aboutme-card{
            @apply w-full mb-10;

            h4{
                @apply font-light text-slate-700 mb-2;
            }
            hr{
                @apply text-purple-600 mb-5 h-0.5 bg-purple-500;
                width: 12%;
            }
            img{
                @apply w-full mb-4;
            }
            p{
                @apply text-sm/6 text-slate-600;
                font-family: "Lora", serif;
            }
        }

        .followme-card{
            @apply w-full mb-12;

            h4{
                @apply font-light text-slate-700 mb-2;
            }
            hr{
                @apply text-purple-600 mb-5 h-0.5 bg-purple-500;
                width: 12%;
            }
            ul{
                @apply flex h-7 w-4/5 justify-evenly mx-auto;

                svg{
                    @apply h-4 w-4 text-slate-500 hover:text-purple-400 transition delay-75 duration-200;
                }

            }

        }

        .recentposts-card{
            @apply mb-14;
            h4{
                @apply font-light text-slate-700 mb-2;
            }
            hr{
                @apply text-purple-600 mb-5 h-0.5 bg-purple-500;
                width: 12%;
            }
            div{
                @apply w-full h-20 border-dashed border-black mb-2;
                font-family: "lora",serif;

                img{
                    @apply float-left w-20 h-11/12 mr-5;
                }
                p{
                    @apply my-3;
                }
                small{
                    @apply clear-none text-slate-600;
                }
            }
        }

        .secondary-search{
            @apply mx-auto w-11/12 flex text-sm mb-12;

            input{
                @apply w-2/3 h-8 pl-2 border-2 border-slate-200 focus:outline-1 focus:outline-purple-400;
            }
            button{
                @apply hover:bg-purple-400 hover:text-white bg-slate-200 w-1/3 h-8 text-slate-700;
            }
        }

        .categories-table{
            @apply mb-12;
             h4{
                @apply font-light text-slate-700 mb-2;
            }
            hr{
                @apply text-purple-600 mb-5 h-0.5 bg-purple-500;
                width: 12%;
            }
            table{
                @apply w-11/12;
                td{
                    @apply border-b-2 border-gray-200 h-10 text-sm text-slate-700;
                    font-family: "lora",serif;
                }
            }
        }
        p{
            @apply text-sm text-slate-700 mb-12; 
            font-family: "lora",serif;
        }
        h4{
            @apply font-light text-slate-700 mb-2;
        }
        hr{
            @apply text-purple-600 mb-5 h-0.5 bg-purple-500;
            width: 12%;
        }
    }
}



/*---------FOOTER TAG STYLING------------ */

footer{
    @apply w-full bg-purple-50 h-48 flex flex-col gap-8 justify-center mt-80;

    .footer-container{
        @apply mx-auto h-7 w-1/5 max-lg:w-2/5;
        
        ul{
            @apply flex flex-6 justify-evenly;

            li{
                @apply h-6 w-6;

                svg{
                    @apply h-4 w-4 text-slate-500 hover:text-purple-400 transition delay-75 duration-200;
                }
            }
        }
    }
    
    .footer-copyright{
        @apply mx-auto text-sm tracking-wider text-slate-800 font-thin;
    }

}

