@import "tailwindcss";



header{
    @apply h-20 w-full box-border z-50 tracking-widest;

    .nav-container{
        @apply max-h-20 mx-auto flex flex-row justify-between uppercase z-49 lg:w-4/5 xl:w-2/3;
        font-family: "Monsterrat", sans-serif;
        font-size: 12px;

    
        .nav-subcontainer1{
            @apply max-h-20 md:w-1/2 lg:w-2/5  h-20 font-black ml-5 ;

            .nav-hamburgermenu{
            @apply w-10 h-10 md:hidden mt-5 mr-5 rounded-lg ;

            svg{
                @apply w-10 text-slate-600 h-10 hover:bg-purple-400;
            }
            }

            ul{
                @apply flex flex-row max-md:hidden mt-7 text-center;

                li{
                    @apply w-1/4 hover:text-purple-400 transition duration-300 cursor-pointer;

                    select{
                        @apply outline-none;
                    }
                }

            }
        }

        .nav-subcontainer2{
            @apply max-h-20 w-1/4 flex flex-row  h-20 gap-3 max-md:w-1/3 max-md:mr-4 max-sm:w-2/5 max-sm:mr-5  md:max-lg:w-1/3;

            input{
                @apply text-sm mt-5  h-8 rounded-md pl-2 focus:outline-1 outline-purple-400;
            }
            img{
                @apply h-4 w-4 mt-7 cursor-pointer;
            }
        }
    }
}
hr{
    @apply text-purple-50;
}

.activello-subheader{
    @apply w-full h-40 bg-white flex flex-col justify-center gap-4;
    font-family: "Montserrat", sans-serif;

    img{
        @apply mx-auto;
    }
    p{
        @apply mx-auto text-slate-600 font-light;
    }
}



footer{
    @apply w-full bg-purple-50 h-48 flex flex-col gap-8 justify-center;

    .footer-container{
        @apply mx-auto h-7 w-1/5 ;
        
        ul{
            @apply flex flex-6 justify-evenly;

            li{
                @apply h-6 w-6;

                svg{
                    @apply h-4 w-4 text-slate-500 hover:text-purple-400 transition delay-75 duration-200;
                }
            }
        }
    }
    
    .footer-copyright{
        @apply mx-auto text-sm tracking-wider text-slate-800 font-thin;
    }

}

